body{
    margin: 0;
	padding: 0;
	border: 0;

}
/*Cabecera*/
.cabecera{
    width: 100%;
    height: 100px;
}
/*Cuerpo*/

/*Equipo*/

.equipo{
    width: 100%;
    padding: 5px;
    align-items: center;
    background:linear-gradient(45deg, rgb(178, 178, 231),rgb(87, 87, 201), gold);
}

.equipoTitulo{
    text-align: center;
    display: block;
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
}

.equipo div{
    width: 18%;
    height: 400px;
    margin-left: 15px;
    border: solid 2px black;
    border-radius: 15px;
    align-items: center;
    display: inline-block;
}


.foto{
    width: 90%;
    height: 150px;
    margin: 15px 15px 0 15px;
    border-radius: 5px;
}

.integrante{
    font-family: 'Lobster Two', cursive;
    text-align: center;
}

.descripcion{
    margin: 0 10px;
    font-family: 'Changa', sans-serif;
    font-size: 13px;
}
/*Pie de página*/


/*responsive de EQUIPO*/
@media screen and (min-width: 1024px) and (max-width: 1300px){
    .equipo{
        width:auto;
        padding: 8px;
    }

    .equipo div{
        width: 180px;
        height: 550px;
        margin: 5px;
        display: inline-block;
    }
    .foto{
        width: 90%;
        height: 150px;
        margin: 8px;
    } 
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .equipo{
        width:auto;
        padding: 8px;
    }

    .equipo div{
        width: 160px;
        height: 550px;
        margin: 5px;
        display: inline-table;
    }
    .foto{
        width: 90%;
        height: 150px;
        display: block;
        margin: 8px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .equipo{
        width:auto;
        padding: 10px;
        margin-left: 0;
    }

    .equipo div{
        width: 350px;
        height: 400px;
        margin: 10px;
        display: inline;
        border: none;
    }
    
    .foto{
        width: 480px;
        height: 200px;
        display: block;
        margin: 0 auto;
    }

    .descripcion{
        margin-bottom: 30px;
        font-size: 25px;
    }
}

@media screen and (max-width: 480px){
    .equipo{
        width: auto;
        padding: 10px;
        margin-left: 0;
    }
    .equipo div{
        width: 350px;
        height: 500px;
        margin: 10px;
        display: block;
        border: none;
    }

    .foto{
        width: auto;
        margin: 15px;
    }
    
    .integrante{
        margin-top: 5px;
    }

    .descripcion{
        font-size: 18px;
    }
}